*/.DS_Store
*/__pycache__
*/.ipynb_checkpoints
*/.vscode
*/.pytest
*.pyc
*/__pycache__/
*/.pytest_cache/
*/.ipynb_checkpoints/
*/.vscode/
*/.pytest/
*.cpython-312.pyc
*.csv
*.cpython-312.pyc
data/raw/
data/processed/
data/normalized/
*.pt
README.PDF
experiments/
logs/
