# Core dependencies
numpy
pandas
matplotlib
seaborn
torch
torchvision
torchaudio

# RL libraries
gym
gymnasium

# Financial data
yfinance
finrl

# Visualization and tracking
wandb
tensorboard
torch-tb-profiler
